@import url('https://fonts.googleapis.com/css2?family=Allura&family=Square+Peg&display=swap');



nav ul{
    display: flex;
    height: 10vh;
    background-color: rgb(8, 9, 26);
    /* justify-content: center; */
    color: white;
    align-items: center;
    font-size: 20px;

}

nav ul li{
    padding: 45px;;
    list-style-type: none;

    
}

nav ul img{
width: 220px;
padding: 2vw;
display: block;
}

#logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
}
/* 
#img_logo{
    display: block;
} */
#logo_text{
    font-family: 'Allura', cursive;
    font-size: 50px;

}

#bottom{
    height: 20vh;
    background-color: black;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-evenly;
    position: sticky;

    
}

#container_middle{
    height: 67vh;
    display: flex;
    justify-content: center;
}

#container_song_list{
    width: 80vw;
    border: 2px solid black;
    margin: 1.389vw;
    border-radius: 40px;

}
/* #progress_bar{
    margin: 2.22vh 0vw 3.33vh 0vw;
} */

#icon_cont{
    color: whitesmoke;
    
}

#icon_cont i{
    padding: 0.694vw;
    
}
#range1{
    width: 50vw;
    /* display: none; */
}
 
#songListBG{
    width: 48vw;
    position: absolute;
    right: 0vw;
    bottom: 18vh;
}

.songs{
    border-width:1px 0px ;
    border-color: black;
    border-style: solid;
    margin: 1vh 0vw 2.2vh 6.944vw;
    border-radius: 10px;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    font-size: 18px;
    background-color: white;
    padding: 0vh 5vw 0vh 3vw;
}

#container_song_list{
    display: flex;
    flex-direction: column;
  background-color: rgba(244, 248, 248, 0.924);
}
#song_names{
    margin: 4vh 0vw;

}
#current_song_name{
    color: whitesmoke;
    margin: 10px;
    font-size: 20px;
}
@media only screen and (max-width:700px) {
    .songs{
        font-size: 14px;
    }
}
@media only screen and (max-width:500px) {
    .songs{
        font-size: 14px;
    }
}
@media only screen and (max-width:1600px) and (min-width:400px) {
   #img_logo{
        width: 190px;
   
        }
}
@media only screen and (max-width:400px){
    #current_song_name{
        font-size: 16px;
    }
}